---
import logoB from "../assets/images/grupoalfabeta_logo.jpeg";
import imagen from "../assets/images/imagenB.jpeg"
---

<div class="py-6 px-4 scroll-m-18 mx-auto  bg-slate-100" id="sobre-nosotros">
<h1 class="font-bold text-center text-2xl md:text-3xl lg:text-4xl border-slate-200 px-8 font-poppins opacity-animation text-slate-800" >Sobre nosotros</h1>

<div class="text-pretty py-6 px-4 max-w-5xl text-center mx-auto flex flex-col gap-4  text-slate-600">
    
<p>
    En Alfa Beta nos dedicamos desde hace décadas a ofrecer información actualizada y confiable para el sector de la salud. Todo el contenido que compartimos en AlfaBeta.net es elaborado por nuestro propio grupo de trabajo, con el respaldo y la experiencia de más de 60 años en el rubro.
</p>

<p>
Nuestra historia comenzó en 1960, cuando Juan A. Marrari (padre) detectó una necesidad clave en el ámbito farmacéutico: contar con información clara y actualizada sobre los precios de los medicamentos. Así nació el Manual Farmacéutico, la primera publicación de este tipo en Argentina, que con el tiempo se convirtió en una herramienta esencial para los profesionales de la salud, y que también llegó a varios países de América Latina.
</p>

<p>
Desde entonces, en Grupo Alfa Beta mantenemos un compromiso inquebrantable con la independencia informativa, sin vínculos con organismos públicos ni con laboratorios o empresas privadas. Esta independencia es la base de la confianza que generamos en cada publicación.
</p>
<p>
Además, desde hace más de 25 años, desarrollamos y mantenemos WinFarma, un completo sistema de facturación que hoy funciona en farmacias de todo el país, ayudando a miles de profesionales a gestionar su trabajo de forma eficiente y segura.
</p>
<a href="https://www.alfabeta.net/" target="_blank" class="w-fit mx-auto">
<img src={logoB.src} alt="logo" class="w-[180px] mt-4 rounded-xl overflow-hidden shadow-md" /></a>

</div>
</div>