---
import FAQItem from "./resources/FAQItem.astro";


---

<div class="pt-6 px-4 scroll-m-18 mx-auto" id="sobre-nosotros">
<h1 class="font-bold text-center text-2xl md:text-3xl lg:text-4xl border-slate-200 px-8 font-poppins opacity-animation text-slate-800 mb-6" >Preguntas frecuentes</h1>
    
    <FAQItem question="¿El precio de la suscripcion se actualiza?">
        Se actualiza el precio de la suscripción cada dos meses, en base al indice de inflación.  
        </FAQItem>
    
    
    <FAQItem question="¿Se puede validar recetas electronicas?">
        Si, puedes validar y recuperar recetas electrónicas en el sistema web de WinFarma. Siempre y cuando la OS correspondiente tenga habilitada la validación de recetas electrónicas para la farmacia. 
        </FAQItem>

        <FAQItem question="¿Cada cuanto se actualizan los precios de los medicamentos?">
            El sistema actualiza los precios de los medicamentos cada 4 horas automaticamente, para que siempre tengas la información más actualizada.
        </FAQItem>

        <FAQItem question="¿En que horario está disponible el soporte técnico?">
            El soporte técnico está disponible de lunes a viernes de 9:00 a 18:00 horas.
        </FAQItem>

        <FAQItem question="¿Necesito una impresora fiscal para imprimir los comprobantes?">
            No, no es necesario una impresora fiscal para imprimir los comprobantes. Puedes imprimir los comprobantes en cualquier impresora de escritorio, comandera térmica o incluso guardar los comprobantes en PDF para enviarlos por correo electrónico a tus clientes.
        </FAQItem>
</div>