---
import background from '../assets/images/stripes.svg';
---

<section class="relative w-full">
    <img src={background.src} alt="background" class="mx-auto -mt-16 select-none" width="720" height="400" />
</section>