---
import ButtonPrimary from "./ButtonPrimary.astro";
import ButtonSecondary from "./ButtonSecondary.astro";
---

<section class="relative w-full grid place-items-center text-center fade-in-animation">
  <p
    class="mt-8 font-bold md:text-lg border-t border-slate-200 md:px-28 px-8 py-2 flex items-center gap-1"
  >
    <span class="font-black text-lime-500">+ </span>
    <span id="cantidadUsuarios" class="cont-animate font-black text-lime-500"
      >3000</span
    >
    usuarios en todo el pais

    <span class="font-black text-lime-500">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          d="m19.1,2.8c-.38-.5-.97-.8-1.6-.8H6.5c-.63,0-1.23.3-1.6.8l-2.7,3.6c-.13.17-.2.38-.2.6v1c0,1.04.41,1.98,1.06,2.69-.03.1-.06.2-.06.31v9c0,1.1.9,2,2,2h14c1.1,0,2-.9,2-2v-9c0-.11-.03-.21-.06-.31.65-.71,1.06-1.65,1.06-2.69v-1c0-.22-.07-.43-.2-.6l-2.7-3.6Zm-1.6,1.2l2.5,3.33v.67c0,1.1-.9,2-2,2s-2-.9-2-2v-1c0-.08-.01-.16-.03-.24l-.69-2.76h2.22Zm-6.72,0h2.44l.78,3.12v.88c0,1.1-.9,2-2,2s-2-.9-2-2v-.88l.78-3.12Zm-6.78,3.33l2.5-3.33h2.22l-.69,2.76c-.02.08-.03.16-.03.24v1c0,1.1-.9,2-2,2s-2-.9-2-2v-.67Zm1,12.67v-8.14c.32.08.65.14,1,.14,1.2,0,2.27-.54,3-1.38.73.84,1.8,1.38,3,1.38s2.27-.54,3-1.38c.73.84,1.8,1.38,3,1.38.35,0,.68-.06,1-.14v8.14H5Z"
        ></path><path
          d="M13 13 11 13 11 15 9 15 9 17 11 17 11 19 13 19 13 17 15 17 15 15 13 15 13 13z"
        ></path>
      </svg>
    </span>
  </p>
  <p
    class="font-poppins text-3xl md:text-4xl lg:text-5xl md:leading-15 font-black border-t border-b border-slate-200 px-10 py-2"
  transition:animate="initial" transition:name="title-page">
    El <span class="text-sky-600">sistema de gestión de farmacias</span>
    <br /> que estas buscando
  </p>
  <p
    class="max-w-4xl font-poppins md:leading-7 border-b border-slate-200 px-8 py-4"
  >
    Winfarma es un sistema de gestión para farmacias que permite a los usuarios
    facturar a sus clientes de forma sencilla y eficiente.
  </p>

  <div class="flex gap-4 px-8 py-4 justify-center border-b border-slate-200">
    <ButtonPrimary>Solicitar Demo</ButtonPrimary>
    <ButtonSecondary>Conocer más</ButtonSecondary>
  </div>
</section>

<style is:global>
    .fade-in-animation p,div {
        animation: fade-in 0.4s ease-in-out forwards;
    }

    .fade-in-animation p:nth-child(2) {
        opacity: 0;
        animation-delay: 0.2s;
    }

    .fade-in-animation p:nth-child(3) {
        opacity: 0;
        animation-delay: 0.4s;
    }

    .fade-in-animation p:nth-child(4) {
        opacity: 0;
        animation-delay: 0.8s;
    }

    .fade-in-animation div {
        opacity: 0;
        animation-delay: 0.7s;
    }

    @keyframes fade-in {
        from {
            transform: translateY(-15px) scale(1.1);
            opacity: 0;
        }
        to {
            transform: translateY(0px) scale(1);
            opacity: 1;
        }
    }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const contadores = document.querySelectorAll(".cont-animate");

    if (contadores) {
      contadores.forEach((element) => {
        contador(element);
      });
    }

    function contador(element: any) {
      let fin = parseInt(element.textContent);
      let i = 0;
      const interval = setInterval(() => {
        element.textContent = i;

        if (i > 1000) {
          i += 50;
        } else {
          i += 5;
        }

        if (i >= fin) {
          clearInterval(interval); // Detiene el intervalo cuando i alcanza 100
          element.textContent = fin;
        }
      }, 5);
    }
  });
</script>
